# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
from io import StringIO

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = '\t')
type(chipo)

pandas.core.frame.DataFrame

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [15]:
#Solution 1
chipo.shape[0]
#4622 observations

4622

In [13]:
# Solution 2
len(chipo.index)

4622

### Step 6. What is the number of columns in the dataset?

In [14]:
printlen(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [16]:
print('Columns: {}' .format(chipo.columns))

Columns: Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [56]:
ordered_items = chipo.groupby('item_name').quantity.sum().sort_values(ascending=False)
print(type(ordered_items))
print(ordered_items.head(1))
print(ordered_items.shape) #it is an array

#Provided solution
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
print(type(c)) #It is a DataFrame
c.head(1)

<class 'pandas.core.series.Series'>
item_name
Chicken Bowl    761
Name: quantity, dtype: int64
(50,)
<class 'pandas.core.frame.DataFrame'>

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [69]:
#My version (Pandas Series)
print('Number of times: %d' %ordered_items[0])

#Second version (Pandas DataFrame)
print('Number of times: %d' %c['quantity'][0])
print('Number of times: %d' %c.quantity.max())

Number of times: 761
Number of times: 761
Number of times: 761

### Step 11. What was the most ordered item in the choice_description column?

In [79]:
#With Series
second_list = chipo.groupby('choice_description').quantity.sum().sort_values(ascending=False)
print(second_list.head(1))

#With DataFrame
c2 = chipo.groupby("choice_description").sum()
c2 = c2.sort_values(['quantity'], ascending = False)
print(c2.head(1))

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64
                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [82]:
chipo['quantity'].count()

4622

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [105]:
chipo['item_price'].dtype
myword = chipo.item_price[0]
print(myword)
print(type(myword))
myword[1:-1]

$2.39
<type 'str'>

'2.39'

#### Step 13.b. Create a lambda function and change the type of item price

In [23]:
type_change = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(type_change)

#### Step 13.c. Check the item price type

In [109]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [39]:
#Multiply the number of items by the price and sum everything
revenue = (chipo.quantity * chipo.item_price).sum()
print('Revenue: {}' .format(np.round(revenue,2)))

Revenue: 39237.02

### Step 15. How many orders were made in the period?

In [37]:
total_orders = chipo.groupby('order_id')['order_id'].count()
print(type(total_orders))
print('Total number of orders: {}' .format(len(total_orders)))

<class 'pandas.core.series.Series'>
Total number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [40]:
# Solution 1
ave_revenue = revenue/len(total_orders)
print('Average revenue: {}' .format(ave_revenue))

Average revenue: 21.3942311887

In [50]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
final = chipo.groupby('order_id').sum().mean()['revenue']
print('Average revenue: {}' .format(final))

Average revenue: 21.3942311887

### Step 17. How many different items are sold?

In [54]:
len(chipo.item_name.unique())

#Proposed alternative
chipo.item_name.value_counts().count()

50